@import '../../assets/css/varriables.scss';


.Subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    margin: 0px auto;
    background-color: $primaryBackGround;
    border-radius: 10px;
    width: $primaryWidth;
    height: 233px;
    box-shadow: 0px 0px 4px 1px $borderColor;
    position: absolute;
    bottom: -115px;
    left: 0px;
    right: 0px;

    h2{
        color: $PrimaryFontColor;
    }
}


@media only screen and (max-width:1200px){
    .Subscribe{
        padding: 20px 30px;
        width: $mediumWidth;
        height: auto;
        h2{
            width:400px;
            line-height: 40px;
        }
    }
}

@media only screen and (max-width:768px){
    .Subscribe{
        padding: 20px 30px;
        width: 90%;
        flex-direction: column;
        bottom: -165px;
        h2{
            width:auto;
            line-height: 40px;
            text-align: center;
        }
        p{
            text-align: center;
        }
        .btn{
            padding: 13px 45px ;
        }
    }
}