

$primaryBackGround: #FFFFFF;
$secondaryBackGround: #F8F8F8;
$middlebackground: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);

$secondaryFontColor:#4F5665;
$PrimaryFontColor:#0B132A;

$primaryColor :#F53838;
$secondaryColor:#FFECEC;
$accentColor:#2FAB73;
$yellowColor:#FEA250;

$primaryWidth:1200px;

$borderColor: #DDDDDD;
$dotBGC:#DDE0E4;
