@import '../../assets/css/varriables.scss';

.Sponsored{
    width: $primaryWidth;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 80px auto;

    img{
        width: 160px;
        height: 90px;
    }
}

@media only screen and (max-width:1200px){
    .Sponsored{
        width: $mediumWidth;
        img{
            width: 120px;
            height: 67.5px;
        }
    }
}


@media only screen and (max-width:768px) {
    .Sponsored{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}