@import '../../assets/css/varriables.scss';


.Map{
    text-align: center;
    h2{
        margin:0px auto;
        width: 380px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: $PrimaryFontColor;
    }

    p{
        width: 555px;
        margin:20px auto 60px auto;
        font-size: 16px;
        line-height: 30px;
    }
    img{
        width: $primaryWidth;
    }
}


@media only screen and (max-width:1200px){
    .Map{
        img{
            width: $mediumWidth;
        }
    }
}



@media only screen and (max-width:768px) {
    .Map{
        h2, p{
            width: auto;
            padding:0px 10px;
        }

        img{
            width: 100%;
        }
    }
}